.language-selection-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pdf-container {
  background-color: white;
  padding: 20px;
  /* border-radius: 8px; */
  width: 80%; /* Increase the width to occupy more space */
  max-width: 900px; /* Increase the max width */
  height: 65%;
  position: relative;
  z-index: 1001;
  padding-left: 15px;  /* Reduced padding on the left */
  padding-right: 15px; /* Reduced padding on the right */
  padding-top: 10px;   /* Adjusted top padding */
  padding-bottom: 20px;
}

.pdf-heading {
  position: absolute;
  top: 10px;    
  left: 15px;   
  font-size: 1.5rem;  
  font-weight: bold;
  margin: 0;
}

.language-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Increase the number of columns to 4 */
  gap: 15px; /* Increase gap between buttons to make the layout more balanced */
  margin-top: 60px; /* Space between the heading and the buttons */
}

.language-button {
  padding: 15px; /* Increase the padding to make buttons bigger */
  border: none;
  background-color: #f0f0f0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem; /* Increase font size for better readability */
  width: 100%; /* Ensure buttons take up the full width of their container */
  text-align: center; /* Center align the text */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
