.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-color: white;
    color: #333;
    padding: 20px;
    width: 500px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    text-align: left;
    position: relative;
    max-height: 80vh;
    overflow-y: auto;
    /* Add scrolling for long content */
}

.close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: transparent;
    color: #006bb7;
    /* Blue for the 'X' button */
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.close-button:hover {
    color: #0056b3;
}

.adjust-cookies-button {
    background-color: #28a745;
    /* Green */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
    width: 30%;
}

.adjust-cookies-button:hover {
    background-color: #218838;
}

.close-button-bottom {
    background-color: #006bb7;
    /* Blue for the 'Close' button */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
    width: 100%;
}


.expandable-section {
    margin-top: 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    /* background-color: #f7f7f7; */
    border: 1px solid #ddd;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

.header-container:hover {
    background-color: #e6e6e6;
}



.expandable-content {
    padding: 10px 15px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    background-color: #fff;
}


.arrow-icon {
    width: 15px;
    height: 15px;
    transition: transform 0.3s ease;
}

.arrow-icon.rotate {
    transform: rotate(180deg);
    /* Rotate the arrow down */
}

.expandable-content {
    padding: 10px 15px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    background-color: #fff;
}


.cross-close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}