.close-button i {
  font-size: 18px; /* Reduce size */
  font-weight: 300; /* Make it thinner */
  color: black;
}

.pdf-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensures the overlay is on top */
}

.pdf-container {
  height: 65%;
  background-color: white;
  padding: 20px;
  width: 100%;
  max-width: 740px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1001; /* Ensure it's on top of the overlay */
}

.pdf-heading {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.pdf-viewer {
  width: 100%;
  height: 500px;
  border: none;
  margin-top: 60px; /* Ensure the PDF appears below the heading */
}

.bottom-close-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
}

/* Add this for interaction prevention with the background */
body.pdf-open {
  overflow: hidden; /* Prevents scrolling in the background when the PDF is open */
}
